<a class='project' href='<%= link %>' <%= "target='_blank'" unless link == '#' %>>
	<span class='overlay'>
		<span class='overlay-description'>
			<%= link_text %>
		</span>
	</span>

	<h3><%= title %></h3>
	<span class='project-description'>
		<span class='project-tagline'><%= tagline %></span>
	</span>
	<span class='img-container <%= 'img-container--dark' if dark %>'>
		<%= image_tag 'projects/'+img %>
	</span>
	<span class='project-details'>
		<span class='project-roles'><%= andify roles %></span>
		<% unless collaborators.empty? %>
			<% if false %>
			<span class='project-collaborators'><span class='with'><%= collaborators.length > 1? 'collaborators:':'collaborator:'  %></span> <%= andify collaborators %></span>
			<% end %>
			<span class='project-collaborators'><span class='with'>with</span> <%= andify collaborators %></span>
		<% end %>
	</span>
</a>