<% wrap_layout :layout do %>
	<%= partial(:header) %>
	<div class='project-expl-container'>
		<a href="/"><%= image_tag 'icons/left-icon.png' %>All projects</a>
		<div class='project-expl'>
			<span class='img-container <%= 'img-container--dark' if current_page.data.dark %>'>
				<%= image_tag 'projects/'+current_page.data.img %>
			</span>
			<h2><%= current_page.data.title %></h2>
			<span class='project-tagline'><%= current_page.data.tagline %></span>
			<span class='project-roles'><%= andify current_page.data.roles %></span>
			<% unless current_page.data.collaborators.empty? %>
			<span class='project-collaborators'><span class='with'><%= current_page.data.collaborators.length > 1? 'collaborators:':'collaborator:'  %></span> <%= andify current_page.data.collaborators %></span>
			<% end %>
		    <div class='project-about'><%= yield %></div>
		</div>
	</div>
<% end %>